*{
    margin: 0;
    padding: 0;
    
}
body{
    font-size: smaller;
}
.flex{
    display: flex;
    gap: 20px;
}
.light{
    display: flex;
    justify-content: center;
    gap: 80px;
    
}
.moon{
    display: flex;
    padding: 20px 0px;
    align-items: center;
    
}
.card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    
}
.container{
    padding-left: 60px;
    padding-right: 60px;
}
.foot{
    padding-top: 30px;
    padding-bottom: 30px;
}
#logo{
    color: red;
}
.for{
    border-radius:12px ;
    background-color: #FFE2E4;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    flex-direction: column;
    
    
    
}

.third{
    border-radius: 12px;
    background-color: #FFE2E4;
    width: 449px;
    height: 273px;
    margin-left: 60px;
    
}
.flower{
    display: flex;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
}
.sub a{
    color: black;
}
.green{
    margin-right: 20px;
    
}
#head{
    text-align: center;
    color: #FF575E;
    margin-top: 100px;
    margin-bottom:50px;
    
    
}
footer a{
    text-decoration: none;
    color: white;
}
.blue{
    display: grid;
    grid-template-columns: repeat(6,1fr);

    
    gap: 30px;
}

.digital{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    
}
.wine{
    border: 1px solid#FFE2E4;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    grid-column: span 2;
    
    
}
.more{
    border: 1px solid#FFE2E4;
    border-radius: 10px;
    padding: 20px;
    
    
}
.more p{
    text-align: center;
    margin-top: 135px;
    margin-bottom: 135px;
    color: #FF575E;

}
h3{
    margin-bottom: 40px;
    color: #FF575E;
}
.wine a{
    color: black;
}
.icon img{
    width: 100%;
    object-fit: contain;
}
.icon{
    border-radius: 10px;
    background-color: #FFE2E4;
    padding: 20px;
}
.icon1 h4{
    padding-bottom: 20px;
}
#gray{
    margin-top: 20px;
    border-radius: 15px;
    background-color: #FFE2E4;
    width: fit-content;
    padding: 5px 20px;
    color: #FF575E;

}
h2{
    margin-bottom: 20px;
    
}
.jobs h2{
    text-align: center;
    color: #FF575E;
    margin-bottom: 50px;
}
.jobs{
    margin-bottom: 100px;
}

.before{
    display: grid;
    grid-template-columns:repeat(6,1fr);
    
}
.arrivel{
    grid-column: span 2;
}
.right{
    display: flex;
    gap: 20px;
}

.hao{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.last{
    margin-top: 20px;
}


.ticket{
    list-style-image: url(./images/6.png);
    padding-left: 21px;
    margin-top: 20px;
}
.brand{
    display: flex;
    
}
ul{
    list-style: none;
    
}

.benefit{
    background-color: #FCF3F3;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.foot h4{
    margin-bottom: 20px;
}

.one{
    text-align: center;
    border-radius: 10px;
    background-color: #FFE2E4;
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 0 auto;
}
.black{
    padding: 5px;
    border-radius: 10px;
    background-color: #FFE2E4;
    margin-top: 30px;
    color: #FF575E;
    
    text-align: center;
}
#bos{
    color: black;
}
.pot{
    margin-top:50px;
}
.job{
    justify-content: center;
    gap: 30px;
}
.crypto h3{
    color: black;
}  
.crypto{
    margin-top: 60px;
} 
.document{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 50px;
}
.ex{
    grid-column: span 2;
}
.ex ul{
    list-style: disc;
    padding-left: 20px;
}
.ex h4{
    color: #FF575E;
    margin-bottom: 20px;
}
.cv{
    margin: 50px 0;
    
}
.cv a{
    color: white;
    border-radius: 20px;
    background-color: #FF575E;
    width: fit-content;
    padding: 10px 40px;
    
}

.sub{
    display: flex;
    gap: 80px;

}
.promo{
    padding: 10px;
    margin-top: 10px;
}
.promo b{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#red{
    border-radius: 35px;
    background-color: #FF575E;
    width: 113px;
    height: 40px;
    align-items: center;
    padding: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 60px;
    color: white;


}
.tai p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.main{
    display: flex;
    gap: 10px;
}
.foot{
    background-color:#FF575E; 
    color: white;
    
}
.blank{
    border-radius: 12px;
    background-color: #FFE2E4;
}
.maintain{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}
.location{
    border-radius: 12px;
    background-color: #FFE2E4;
    padding: 20px 50px;
    margin: auto;
    width: 50%;
    text-align: center;

    
}
  .about{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin: 50px 0;
  }  

.links{
    justify-content: space-between;
    
}
.right{
    justify-content: space-between;
    gap: 50px;
}
.new{
    margin-bottom: 20px;
}
.png{
    display: none;
}

@media screen and (max-width:1000px){
    div.third{
        display: none;
    }
    .png{
        display: block;
    }
}
@media screen and (max-width:700px){
    div.main{
        flex-direction: column;
    }
    
}
@media screen and (max-width:900px){
    .blue .wine{
        grid-column: span 3;
    }
}
@media screen and (max-width:500px){
    .blue .wine{
        grid-column: span 6;
    }
}
@media screen and (max-width:770px){
    .before{
        gap: 20px;
    }
    .arrivel{
        grid-column: span 6;
    }
    .ticket{
        list-style: url(./images/7.png);
    }
}
@media screen and (max-width:770px){
    .light{
        display: none;
    }
}
@media screen and (max-width:600px){
    .foot{
        display: none;
    }
    .invest
}@media screen and (max-width:650px){
    .blank{
        grid-row: 1;
        grid-column: span 2;
        height: 250px;
    }
    .left{
        grid-column: span 2;
    }
}
@media screen and (max-width:840px){
    .location{
        grid-column: span 2;
    }
}
@media screen and (max-width:550px){
    .location{
        grid-column: span 4;
    }
}
@media screen and (max-width:715px){
    .ex{
        grid-column: span 3;
    }

}
@media screen and (max-width:400px){
    .ex{
        grid-column: span 6;
    }
}
